{% extends "base.html.twig" %}
{% block body %}
    <h1>Inscription</h1>
	{{ form_start(form) }}
	<div>
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
    </div>
	<div>
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}
    </div>
	<div>
    {{ form_label(form.plainPassword) }}
    {{ form_errors(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}
    </div>
	<div>
    {{ form_label(form.save) }}
    {{ form_errors(form.save) }}
    {{ form_widget(form.save) }}
    </div>
	{{ form_end(form) }}
{% endblock %}
