
	{% extends "base.html.twig" %}

	{% block body %}
	<div class="TicketsTables">
	<h2>Tickets ouverts</h2>
	<table class="table">
		<tr>
			<th>poste</th>
			<th>description</th>
			<th>qualification</th>
			<th>action</th>
			<th>Résolu</th>
        </tr>
		{% for ticket in tickets %}
			{% if ticket.etat %}
            <tr>
                <td>{{ ticket.poste }}</td>
				<td>{{ ticket.description }}</td>
				<td>{{ ticket.qualification }}</td>
				<td>
					<a href="{{ url("app_ticket_commenter", {"ticket":ticket.id}) }}">Commenter</a>
					<a href="">Traiter</a>
					<a href="">Rediriger</a>
					<a href="{{ url("app_ticket_clore", {"ticket":ticket.id}) }}">Clore</a>
				</td>
				<td>
					{%if ticket.validated%}
						OUI
					{%else%}
						NON
					{%endif%}
				</td>
            </tr>
			{% endif %}
        {% else %}
            <tr>
                <td colspan="3">Aucun ticket</td>
            </tr>
        {% endfor %}
	</table>
	</div>

	<div class="TicketsTables">
	<h2>Tickets clos</h2>
	<table class="table">
		<tr>
			<th>poste</th>
			<th>description</th>
			<th>Résolu</th>
        </tr>
		{% for ticket in tickets %}
			{% if ticket.etat != true%}
            <tr>
                <td>{{ ticket.poste }}</td>
				<td>{{ ticket.description }}</td>
				<td>
					{%if ticket.validated%}
						OUI
					{%else%}
						NON
					{%endif%}
				</td>
			</tr>
			{% endif %}
        {% else %}
            <tr>
                <td colspan="3">Aucun ticket</td>
            </tr>
			
        {% endfor %}
	</table>
	</div>
    {% endblock %}