<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset('style.css')}}">
    {% block stylesheets %}{% endblock %}
</head>
<header>
    <ul>
        <li><a class="Nav" href="{{ url("app_ticket_acc") }}">Accueil</a></li>
        <li><a class="Nav" href="{{ url("app_ticket_add") }}">Déposer ticket</a></li>
        <li><a class="Nav" href="{{ url("app_ticket_mesTickets") }}">Mes tickets</a></li>
        <li><a class="Nav" href="{{ url("app_ticket_stats") }}">Rapport stats</a></li>
        <li><a class="Nav" href="{{ url("app_ticket_all") }}">Visualiser tickets</a></li>
        <li class="Deco Nav"><a class="Nav" href="/logout">Déconnexion</a></li>
    </ul>
</header>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
