<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
	<h1>COMMENTER</h1>
	{% for comm in comms %}
                <p>{{ comm.texte }}</p>
        {% else %}
                <p>C'est vide</p>
        {% endfor %}
	{{ form_start(form) }}
	<div>
    {{ form_label(form.texte) }}
    {{ form_errors(form.texte) }}
    {{ form_widget(form.texte) }}
    </div>
	{{ form_end(form) }}
</html>