{% extends "base.html.twig" %}

	{% block body %}

	{% for comm in comms %}
    <p>{{ comm.texte }}</p>
    {% else %}
    <p>Vide</p>
    {% endfor %}
    {{ form_start(form) }}
    <div>
        {{ form_label(form.texte) }}
        {{ form_errors(form.texte) }}
        {{ form_widget(form.texte) }}
    </div>
    {{ form_end(form) }}
 {% endblock %}